<!--This is the contact info page template for the personal website. It extends the base template and provides specific content for the contact information page.-->

{% extends "base.html" %}

{% block title %}Contact Info{% endblock title %}

{% block header %}
  <h1>Contact Information</h1>
{% endblock header %}

{% block content %}
  <p>If you'd like to get in touch with me, you can reach me at <a href="mailto:josh.latz@gmail.com">josh.latz@gmail.com</a> or through my professional <a href="https://www.linkedin.com/in/joshua-latz/" target="_blank">LinkedIn profile</a>.</p>
  <p>Learn more about me by visiting the <a href="{{ url_for('pages.home') }}">home page.</a>.</p>
{% endblock content %}