#This is the contact info page template for the personal website. It extends the base template and provides specific content fort the contact inco page.

{% extends "base.html" %}

{% block title %}Contact Info{% endblock title %}

{% block header %}
  <h2>Contact Information</h2>
{% endblock header %}

{% block content %}
  <p>If you'd like to get in touch with me, you can reach me at josh.latz@gmail.com or through my professional LinkedIn profile here: https://www.linkedin.com/in/joshua-latz/.</p>
{% endblock content %}

{% block content %}
  <p>
    Learn more about me by visiting the <a href="{{ url_for('pages.home') }}">home page.</a>.
  </p>
{% endblock content %}