#This is the projects and publications page template for the personal website. It extends the base template and provides specific content for the projects and publications page.

{% extends "base.html" %}

{% block title %}Projects and Publications{% endblock title %}

{% block header %}
  <h2>Projects and Publications</h2>
{% endblock header %}

{% block content %}
  <p>Here are some of my recent projects and publications at JHU in my MS in AI program:</p>
  <ul>
    <li>Module 1: Building a personal website.</li>
    <li>About module 1: This assignment will teach you the fundamentals of website construction. You will build a personal developer website that includes a biography, contact information/links, and details about your Python projects. This will give you a chance to both be creative and learn the fundamentals of website development. We will look back and update this website throughout the course as our set of Python projects grows. You will practice working with Flask, a micro web framework written in Python. You will first learn to work with HTML, and then you will learn to work with cascading style sheets (CSS) to describe how HTML elements are to be displayed. Your output should be a functional personal website that includes details about you, your projects, and contact information.</li>
    <li><a href="https://github.com/5th-legionnaire/jhu_software_concepts/tree/main/module1" target="_blank">Github link to module 1</a></li>
  </ul>
{% endblock content %}

{% block content %}
  <p>
    Learn more about me by visiting the <a href="{{ url_for('pages.home') }}">home page.</a>.
  </p>
{% endblock content %}