<!--This is the base template for the message board application. It defines the overall structure of the HTML page, including the title, header, and main content area. The template uses Jinja2 blocks to allow child templates to override specific sections of the page, such as the title, header, and content.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Personal Website - {% block title %}Josh Latz{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header class="site-header">
  <div class="site-header__inner">
    <a class="site-title" href="{{ url_for('pages.home') }}">
      Josh Latz <span class="site-title__sub">(He/Him)</span>
    </a>
    {% include "_navigation.html" %}
  </div>
</header>
<section>
  <div class="page-header">
    {% block header %}{% endblock header %}
  </div>
  <main>
    {% block content %}<p>Name: Josh Latz</p>{% endblock content %}
  </main>
</section>
</body>
</html>